@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@await Html.PartialAsync("_Validation_Area_From_Backend")
<h2>title</h2>
<form asp-action="RequestToUnCertificateMyCompanyAction" method="post">
    <button type="submit">Uncertificate</button>
</form>