@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form asp-action="RequestToUnCertificateMyCompanyAction" method="post">
<button type="submit"></button>
</form>