@model iUni_Workshop.Models.EmployeeModels.RequestToAddSkill

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@await Html.PartialAsync("Shared/_Validation_Area_From_Backend")

<link rel="stylesheet" href="~/css/ejp.css"/>

<div class="reqaddsk">
    <h2>Request to add a skill</h2>
    <form asp-controller="Skill" asp-action="RequestToAddSkillAction" method="post">
        <p>Skill:<input type="text" name="SkillName">
            <button type="submit" >Request</button></p>
    </form>


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

    <br>
    <hr>
</div>