@model System.Collections.Generic.IEnumerable<iUni_Workshop.Models.EmployerModels.MyMessages>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/mmessages.css"/>

@await Html.PartialAsync("Shared/_Validation_Area_From_Backend")
<div id="mm">
<h2>My Messages</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            Conversation With:
        </th>
        <th>
            Title:
        </th>
        <th>
            Time Sent:
        </th>
        <th>
            Read:
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.SentTime.ToString("dd/MM h:mm tt")
                </td>
                <td>
                    @{
                        if (item.Read)
                        {
                            <p>Read</p>
                        }
                        else
                        {
                            <p>Unread</p>
                        }
                    }
                </td>
                <td>
                    <form asp-controller="Message" asp-action="MessageDetail" method="post">
                        <button name="conversationId" type="submit" value="@item.ConversationId" >Read</button>
                    </form>
                        
                </td>
            </tr>
        }
    }
        
    </tbody>

</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

</div>