@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/mmessages.css" />

<div id="about">
    
    <h2>@ViewData["Title"]</h2>
    
    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, vim putent nemore legendos te, erat simul intellegebat vix ne. Eos quem ocurreret ad. Mei ex fastidii euripidis. An probo tantas per, cu libris torquatos mel, ea decore placerat persequeris sit. Sea aperiri definiebas temporibus ad.

                Consul populo vulputate eum in. His diam tollit definitiones eu, ne adversarium theophrastus nam. Fugit putent impedit cu eam. Qui et homero abhorreant, ex sed appareat tractatos, case minimum has ex. In est principes voluptatibus, numquam bonorum ad usu, quodsi mediocrem delicatissimi eos no.

                Usu aeterno epicurei cu, at oblique nostrud liberavisse vel. Labitur quaestio aliquando cu pri, id sit nibh congue. Quas illum labitur ad mea, abhorreant honestatis an eum. Id quem populo adversarium cum, mei omnes reformidans at, ei sit oportere corrumpit. Vivendo necessitatibus sed ea. Melius nostrum recteque id usu, pro solum blandit mediocrem at, probo molestie lobortis an duo. Assum aliquam ex cum, paulo mundi et quo.

                Suas populo est te. Te sonet doctus mentitum cum. Ea has homero tincidunt. Vis alia mutat tempor ne, eu iudico omnium tamquam cum.

                Et quot habeo assueverit mei. His qualisque incorrupte cu, ex zril virtute placerat est. Vim propriae omittantur et, vix cu hinc facilisis dissentiunt. Vis veniam albucius postulant id, atqui solet voluptatibus eos in. Duo id modo inimicus.</p>
        </div>
        
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, vim putent nemore legendos te, erat simul intellegebat vix ne. Eos quem ocurreret ad. Mei ex fastidii euripidis. An probo tantas per, cu libris torquatos mel, ea decore placerat persequeris sit. Sea aperiri definiebas temporibus ad.

                Consul populo vulputate eum in. His diam tollit definitiones eu, ne adversarium theophrastus nam. Fugit putent impedit cu eam. Qui et homero abhorreant, ex sed appareat tractatos, case minimum has ex. In est principes voluptatibus, numquam bonorum ad usu, quodsi mediocrem delicatissimi eos no.

                Usu aeterno epicurei cu, at oblique nostrud liberavisse vel. Labitur quaestio aliquando cu pri, id sit nibh congue. Quas illum labitur ad mea, abhorreant honestatis an eum. Id quem populo adversarium cum, mei omnes reformidans at, ei sit oportere corrumpit. Vivendo necessitatibus sed ea. Melius nostrum recteque id usu, pro solum blandit mediocrem at, probo molestie lobortis an duo. Assum aliquam ex cum, paulo mundi et quo.

                Suas populo est te. Te sonet doctus mentitum cum. Ea has homero tincidunt. Vis alia mutat tempor ne, eu iudico omnium tamquam cum.

                Et quot habeo assueverit mei. His qualisque incorrupte cu, ex zril virtute placerat est. Vim propriae omittantur et, vix cu hinc facilisis dissentiunt. Vis veniam albucius postulant id, atqui solet voluptatibus eos in. Duo id modo inimicus.</p>
        </div>
    </div>

    
    
    <footer id="mainBottom">
        <hr >
        <p>&copy; 2018 - iUni_Workshop</p>
    </footer>
    
    

</div>