@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

<style>
    #con h2, address{
        margin-left: 40px;
        padding-left: 25px;
        padding-right: 100px;
        
    }
    
    #mainBottom{
        transition: 1.5s;
        margin-left: 65px;
        padding-left: 0px;
        position: absolute;
    }
</style>

<div id="con">
    
    <h2>@ViewData["Title"]</h2>

    <address>
        One Microsoft Way<br/>
        Redmond, WA 98052-6399<br/>
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    
    <footer id="mainBottom">
        <hr style="width: 850%;">
        <p>&copy; 2018 - iUni_Workshop</p>
    </footer>

</div>