@{
    ViewData["Title"] = "Home Page";
}


<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <section>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <h2>About us</h2>
                            <p>
                                iUni Workshop was created by a group of university students who felt that students needed
                                an easier method to create links with employers who are looking to hire. 
                                <br></br>
                                Graduating students and employers can find it easier to connect with each other through the match-making algorithm
                                we have created, that links employees and employers only if they share specific skills and experience.
                            </p>
                        </div>
                        <div class="col-6 col-12-small">
                            <h2>What makes us different</h2>
                            <p>
                                Instead of having Grad Students and Employers continuosly search for people, our website does it all for you. Employees simply create a job profile
                                for a field they are interested in and select from set list of skill related to that field.
                                <br></br>
                                Employers create job hiring profiles that list what skills they are looking for. Once our system finds a match, the link between the Employer and 
                                Employee is created.
                                
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>


