@model iUni_Workshop.Models.JobRelatedModels.Skill

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form method="post" asp-action="AddSkillAction">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" name="Name">
            </td>
        </tr>
        </tbody>

    </table>
    <button type="submit" class="btn btn-sm btn-success">Confirm</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

