@using iUni_Workshop.Models.MessageModels
@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/admin.css"/>

@await Html.PartialAsync("Shared/_Validation_Area_From_Backend")
<script>
    function GetReviverEmail(str) {
        var reciverList = document.getElementById("ReciverEmailList");
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var recivers = JSON.parse(this.responseText);
                reciverList.innerHTML="";
                for (var i = 0; i < recivers.length; i++) {
                    var btn = document.createElement("OPTION");
                    btn.value = recivers[i].email;
                    reciverList.appendChild(btn);
                }
            }
        };
        xmlhttp.open("GET", "/Administrator/GetUsers/" + str, true);
        xmlhttp.send();
    }
</script>

<div id="nm">
<h2>Message</h2>
<form method="post" asp-action="NewMessageAction">
    
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.SchoolName) *@
            @* </th> *@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.DomainExtension) *@
            @* </th> *@
            
    <p>To:
        <input type="text" name="Email" id="userName" list="ReciverEmailList" onkeyup="GetReviverEmail(this.value)">
        <datalist id="ReciverEmailList"></datalist>
    </p><br>
    <hr>
    
    <p>Title:
        <input maxLength="30" placeholder="Title for message" name="Title">
    </p><br><hr>
    
    <p>Description: </p>
    <textarea name="MessageDetail" maxlength="600">Write message here</textarea>
    <br><br><hr>
    
    <p>Select message type:
    <select name="Type">
                <option>Options</option>
                <option value="@MessageType.System">System info message</option>
                <option value="@MessageType.UserMessage">Message User</option>
            </select>
    </p><br><hr>
    
    <button type="submit" >Send Message</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

</div>