@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/admin.css"/>

@await Html.PartialAsync("Shared/_Validation_Area_From_Backend")

<div id="sut">
<h2>Set User Type</h2>
<form method="post" asp-action="SetUserTypeAction">
    <table class="table">
        <thead>
        <tr>
            <th>
                Email
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td >
                        <form asp-controller="Administrator" asp-action="SetUserTypeAction">
                            <button type = "submit" name = "Id" value="@item.Id" >Set As Administrator</button>
                        </form>
                    </td>
                </tr>
            }
        }
        
        </tbody>

    </table>
    
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

</div>
