#nm{
    margin-left: 40px;
    margin-right: 125px;
    padding-left: 35px;
}

#nm h2{
    color: #ff4000;
}
#nm p{
    font-weight: bold;
}

#nm input, #nm textarea, #nm select{
    border: 1px solid #ff4000;
}

#nm input{
    width: 200px;
}

#nm select, #nm input{
    font-weight: normal;
}

#nm textarea{
    width: 1050px;
    height: 120px;
    resize: none;
}

#nm #btn{
    background-color: white;
    color: #ff4000;
    padding: 5px;
    border: 1.5px solid #ff4000;
    font-weight: bold;
    font-size: 12px;
}

#addf{
    margin-left: 40px;
    margin-right: 120px;
    padding-left: 35px;
}

#addf h2, #addf p{
    color: #ff4000;
}

#addf p{
    font-weight: bold;
}

#addf #btn4, #addf .btn1{
    background-color: white;
    color: #ff4000;
    padding: 5px;
    border: 1.5px solid #ff4000;
    font-weight: bold;
    font-size: 12px;
}

#addf input, #addf select{
    border: 1px solid #ff4000;
}

#addf input{
    width: 250px;
}

#fp, #fpc{
    margin-left: 40px;
    margin-right: 132px;
    padding-left: 30px;
}

#fp h2, #fp label, #fpc h2{
    color: #ff4000;
}

#fp #btn {
    background-color: white;
    color: #ff4000;
    padding: 5px;
    border: 1.5px solid #ff4000;
    font-weight: bold;
    font-size: 12px;
}






