#mm{
    margin-left: 40px;
    padding-left: 35px;
    padding-right: 10px;
}

#mm h2{
    padding-left: 5px;
}

#mm table{
    width: 90%;
}

#mm button{
    background-color: white;
    color: #ff4000;
    padding: 5px;
    border: 1.5px solid #ff4000;
    font-weight: bold;
    font-size: 13px;
}

#main1{
    transition: 1.5s;
    padding: 0px 0px 20px 160px;
    width: 85%;
    position: center;
    overflow-x: hidden;
}

#bob {
    padding-top: 1px;
    overflow-x: hidden;
}

#main1 .carousel-indicators {
    margin-bottom: 0px;
}

#main1.ind {
    margin-left: 0px;
}

#mainBottom{
    transition: 1.5s;
    margin-left: 0px;
    padding-left: 0px;
}

#con h2, #con address{
    margin-left: 40px;
    padding-left: 25px;
    padding-right: 100px;

}

#con hr{
    width: 850%;
}