#cent{
    transition: margin-left 1.5s;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    padding-top: 60px;
    transition:1.5s;
}


.side-nav a{
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #7a7a52;
    display: block;
    transition:1s;
    font-family: sans-serif;
    text-transform: uppercase;
}


.side-nav a:hover{
    color:#ff4000;
}

.side-nav a:active{
    color: #ff4000;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 32px;
    margin-left: 50px;
    cursor: pointer;
}

.side-nav .para{
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    font-size: 0.9em;
    color: #7a7a52;
    display: block;
    transition:1s;
    font-family: "Roboto", "Arial";
    text-transform: none;

}

.side-nav p{
    padding: 15px 10px 15px 20px;
    font-family: "Roboto", "Arial";
    font-size: 0.9em;
    color: #7a7a52;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


.navbar .open-slide .sp span{
    display: block;
    width: 30px;
    height: 5px;
    background: #f56a6a;
    margin: 4px 0px;
    cursor: pointer;
}
