@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" href="~/css/admin.css"/>

<div id="fpc">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
