@{
    ViewData["Title"] = "Forgot password confirmation";
}

@* Style for page is found via this link under id fpc*@
<link rel="stylesheet" href="~/css/admin.css"/>

@*Identifier for css page*@
<div id="fpc">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
