@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData[""] iUni_Workshop</title>

   <environment include="Development">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="~/css/site.css" />
      <link rel="stylesheet" href="~/css/font-awesome.min.css"/>
      <link rel="stylesheet" href="~/css/MyMessages.css"/>
      <link rel="stylesheet" href=""/>
   </environment>
    
   <environment exclude="Development">
      <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
      <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
   </environment>
</head>

<style>
   .navbar {
      margin-top: 0;
      margin-bottom: 0px;
   }
   
   .cl {
      padding-right: 15px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-left: 8px;
      margin-bottom: 0px;
      padding-left: 0px;
      font-family: Arial;
      font-size: 24px;
   }
   
   
   #main {
      padding-bottom: 10px;
      padding-left: 15px;
      margin-left: 0px;
      overflow-x: hidden;
   }
   
   .p p {
      margin-left: 0px;
   }
</style>

<body>

<div id="side-menu" class="side-nav">
   <a class="btn-close" onclick="closeSlideMenu()">&times;</a>
			
   <!-- Section - Search -->
   <section id="search" class="alt">
      <form method="post" action="#DoesNothing">
         <input type="text" name="query" id="query" placeholder="Search" maxlength="30">
      </form>
   </section>
		
   <!-- Section - Main Section Nav -->
   <header class="major">
      <h2>Menu</h2>
   </header>

   <a asp-area="" asp-controller="Home" asp-action="Index" >Home</a>
   <a asp-area="" asp-controller="Home" asp-action="About">About</a>
   <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a> 
   
   @if (SignInManager.IsSignedIn(User))
   {
      var user = await UserManager.GetUserAsync(User);

      try
      {
         var role = (await UserManager.GetRolesAsync(user)).AsEnumerable().First();


         if (role == Roles.Administrator)
         {
            <a asp-area="" asp-controller="Administrator" asp-action="" title="Manage">Add School</a>
            <a asp-area="" asp-controller="Administrator" asp-action="" title="Manage">Add Fields</a>
            <a asp-area="" asp-controller="Administrator" asp-action="" title="Manage">Add Skill</a>
            <a asp-area="" asp-controller="Administrator" asp-action="" title="Manage">Send Message</a>
         }

         if (role == Roles.Employee)
         {
            <a asp-area="" asp-controller="Employee" asp-action="" title="Manage">MyCVs</a>
            <a asp-area="" asp-controller="Employee" asp-action="" title="Manage">EditPersonalInfo</a>
            <a asp-area="" asp-controller="Employee" asp-action="" title="Manage">MyInvitations</a>
         }

         if (role == Roles.Employer)
         {

            <a asp-area="" asp-controller="Employer" asp-action="EditCompanyInfo" title="Manage">Edit Company Info</a>
            <a asp-area="" asp-controller="Employer" asp-action="EditJobProfile" title="Manage">Edit Job Profiles</a>
            <a asp-area="" asp-controller="Employer" asp-action="Invitations" title="Manage">Invitations</a>
         }
      }

      catch (Exception)
      {

      }
   }

   <br><br>
   
   <div class="p">
      <header class="major">
         <h2>Get in Touch</h2>
      </header>

      <p>We can fill this in later</p>

      <a class="para">Email: test@test.com</a>
      <p>(ph:) 12341234</p>
   
		
   <!--Footer-->
      <footer id="footer">
         <p class="copyright">&copy; 2018 - iUni_Workshop. Rights Reserved </p>
      </footer>
   </div>
		
</div>
	
<div id="main">
   <nav class="navbar">
      <span class="open-slide">
         <a class="sp" onclick="openSlideMenu()">
            <span></span>
            <span></span>
            <span></span>
         </a>
      </span>
   </nav>   
   
   <div class="inner">
      <header id="h22" class="major">
        
         <h2 style="margin-bottom: 0px;"><a asp-area="" asp-controller="Home" asp-action="Index" class="cl" style="text-decoration: none;">iUni_Workshop</a><br>
            @await Html.PartialAsync("_LoginPartial")</h2>
      </header>
      
   </div>
   
</div>

<div id="cent">
      @RenderBody()
      
</div>


<environment include="Development">
   
   <script>
      function openSlideMenu(){
         document.getElementById('side-menu').style.width = '250px';
         document.getElementById('main').style.marginLeft = '250px';
         document.getElementById('main1').style.marginLeft = '250px';
         document.getElementById('content').style.marginLeft = '250px';
      }
	
      function closeSlideMenu(){
         document.getElementById('side-menu').style.width = '0px';
         document.getElementById('main').style.marginLeft = '0px';
         document.getElementById('main1').style.marginLeft = '0px';
         document.getElementById('content').style.marginLeft = '0px';
      }
   </script>
   
   <script src="~/lib/jquery/dist/jquery.js">
   </script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="js/jquery.min.js"></script>
   <script src="js/browser.min.js"></script>
   <script src="js/breakpoints.js"></script>
   <script src="js/util.js"></script>
   <script src="js/main.js"></script>
</environment>
<environment exclude="Development">
   <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
           asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
           asp-fallback-test="window.jQuery"
           crossorigin="anonymous"
           integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
   </script>
   <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
           asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
           asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
           crossorigin="anonymous"
           integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
   </script>
   <script src="~/js/site.min.js" asp-append-version="true"></script>

   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
