@using Microsoft.AspNetCore.Identity
@using iUni_Workshop.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    try
    {
        var role = (await UserManager.GetRolesAsync(user)).AsEnumerable().First();
        <li>
            <a asp-area="" asp-controller="Dashboard" asp-action="Index" title="Manage"> Hello @UserManager.GetUserName(User)!</a>
        </li>
        
        if (role == Roles.Administrator)
        {
            <a asp-area="" asp-controller="Administrator" asp-action="AddSchool" title="Manage">Add School</a>
            <a asp-area="" asp-controller="Administrator" asp-action="AddField" title="Manage">Add Fields</a>
            <a asp-area="" asp-controller="Administrator" asp-action="AddSkill" title="Manage">Add Skill</a>
            <a asp-area="" asp-controller="Administrator" asp-action="NewMessage" title="Manage">Send Message</a>
        }
        
        if (role == Roles.Employee)
        {
            <a asp-area="" asp-controller="Employee" asp-action="MyCVs" title="Manage">MyCVs</a>
            <a asp-area="" asp-controller="Employee" asp-action="EditPersonalInfo" title="Manage">Edit Personal Info</a>
            <a asp-area="" asp-controller="Employee" asp-action="MyInvitations" title="Manage">MyInvitations</a>
        }
        
        if (role == Roles.Employer)
        {
            <a asp-area="" asp-controller="Employer" asp-action="EditCompanyInfo" title="Manage">Edit Company Info</a>
            <a asp-area="" asp-controller="Employer" asp-action="JobProfiles" title="Manage">Job Profiles</a>
            <a asp-area="" asp-controller="Employer" asp-action="Invitations" title="Manage">Invitations</a>
        }
    }
    catch (Exception)
    {
    }
    
    <li>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
        </form>
    </li>
    @*
        @{
            var user = await UserManager.GetUserAsync(User);
            var role = (await UserManager.GetRolesAsync(user)).AsEnumerable().First();
            if(role == Roles.Administrator)
        }
    *@
}
else
{
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
